---
import StileCarousel from "../components/carousel/StileCarousel.vue";
---

<main class="h-dvh flex flex-col justify-between gap-2 xl:p-10 p-2 md:mx-[10%] mx-0">
  <h1 class="text-7xl text-amber-100 font-light cursor-default text-center mt-[3%]">
    About Us
  </h1>
  <div
    class="flex xl:flex-row flex-col items-center lg:justify-between justify-around gap-2 p-10 h-full"
  >
    <div
      class="w-full flex flex-col items-center xl:items-start justify-center gap-8 mb-4"
    >
      <h1 class="text-5xl text-white font-light cursor-default">Café Stile</h1>
      <p
        class="text-white text-pretty font-thin rounded-lg m-0 xl:mt-6 w-full lg:w-2/3 cursor-default"
      >
        Café Stile is a coffee shop running by an italian man who wanted to
        create an unique experience where each waitress will treat you in a
        different way. So you can enjoy a good blend while you are attended in
        the way you prefer. Our blends use high quality organic coffee grains,
        we also have great pastry. If you want some main dishes we offer some
        good options like our iconic omurice. We'll waiting for you!
      </p>
    </div>
    <StileCarousel client:only />
  </div>
</main>
