---
import Layout from "../layouts/Layout.astro";
import AboutUs from "./aboutUs.astro";
import Menu from "./menu.astro";
import Staff from "./staff.astro";
---

<Layout title="Cafe Stile - Home">
  <section
    id="aboutUs"
    class="notshowing snap-start snap-always bg-amano bg-cover md:bg-center bg-right bg-no-repeat"
  >
    <div class="bg-slate-900 bg-opacity-80">
      <AboutUs />
    </div>
  </section>
  <section
    id="menu"
    class="notshowing snap-start snap-always bg-maika bg-cover md:bg-center bg-right bg-no-repeat"
  >
    <div class="bg-slate-900 bg-opacity-80">
      <Menu />
    </div>
  </section>
  <section
    id="staff"
    class="notshowing snap-start snap-always bg-kaho bg-cover md:bg-center bg-right bg-no-repeat"
  >
    <div class="bg-slate-900 bg-opacity-80">
      <Staff />
    </div>
  </section>
</Layout>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      entry.target.classList.toggle("show", entry.isIntersecting);
    });
  });

  const hiddenElements =  document.querySelectorAll(".notshowing");
  hiddenElements.forEach((el) => observer.observe(el));
</script>

<style>
  .notshowing {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-10%);
    transition: opacity 2s, filter 2s, transform 2s;
  }
  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
</style>
