---
import Layout from "../layouts/Layout.astro";
import AboutUs from "./aboutUs.astro";
import Menu from "./menu.astro";
import Staff from "./staff.astro";
---

<Layout title="Cafe Stile - Home">
  <a
    href="#"
    class="fixed z-10 md:left-[95%] sm:left-[90%] left-[87%] top-[90%] text-white bg-amber-800 w-12 h-12 rounded-full flex items-center justify-center cursor-pointer md:scale-125 md:hover:scale-150 hover:scale-110 transition"
  >
    <i class="fa-solid fa-chevron-up"></i>
  </a>
  <section id="aboutUs">
    <AboutUs />
  </section>
  <div class="flex items-center justify-center">
    <hr class="h-1 bg-slate-200 w-96 self-center rounded-full" />
  </div>
  <section id="menu">
    <Menu />
  </section>
  <div class="flex items-center justify-center">
    <hr class="h-1 bg-slate-200 w-96 self-center rounded-full" />
  </div>
  <section id="staff">
    <Staff />
  </section>
</Layout>
