---
import FoodMenu from "../components/menu/FoodMenu.vue";
---

<main class="h-dvh flex flex-col gap-8 md:p-8 p-4 my-20">
  <h1 class="text-7xl text-center font-light text-white cursor-default">
    Menu
  </h1>
  <FoodMenu client:load />
</main>
