---
import StaffCarousel from "../components/carousel/StaffCarousel.vue";
---

<main
  class="h-dvh flex flex-col items-center justify-start xl:p-10 p-2 mt-20 rounded-lg md:mx-[10%] mx-0"
>
  <h1 class="text-7xl text-center font-light text-amber-100 cursor-default xl:mt-0 mt-[3%]">
    Staff
  </h1>
  <StaffCarousel client:only />
</main>
