---
import { Picture } from "astro:assets";
---

<nav class="lg:mx-[10%] lg:mt-[1%]">
  <Picture
    src="/banner.webp"
    alt=""
    width="1900"
    height="400"
    class="rounded-t-md"
    loading="eager"
  />
  <div
    class="bg-gradient-to-r from-yellow-400 to-purple-600 h-14 flex flex-row items-center justify-around text-white text-xl rounded-b-md"
  >
    <a href="/#aboutUs" class="hover:scale-125 drop-shadow-md hover:drop-shadow-xl transition">About us</a>
    <a href="/#menu" class="hover:scale-125 drop-shadow-md hover:drop-shadow-xl transition">Menu</a>
    <a href="/#staff" class="hover:scale-125 drop-shadow-md hover:drop-shadow-xl transition">Staff</a>
  </div>
</nav>
