---
import { Picture } from "astro:assets";
---

<div class="md:mx-[10%] md:mt-[1%]">
  <Picture
    src="/banner.webp"
    alt=""
    width="1900"
    height="400"
    class="rounded-t-md h-[400px] object-cover"
    loading="eager"
  />
  <div
    class="bg-gradient-to-r from-yellow-400 to-purple-600 h-14 flex flex-row items-center justify-around text-white font-semibold rounded-b-md"
  >
    <a href="#aboutUs" class="text-xl hover:scale-125 drop-shadow-md hover:drop-shadow-xl transition">About us</a>
    <a href="#menu" class="text-xl hover:scale-125 drop-shadow-md hover:drop-shadow-xl transition">Menu</a>
    <a href="#staff" class="text-xl hover:scale-125 drop-shadow-md hover:drop-shadow-xl transition">Staff</a>
  </div>
</div>
